<!-- templates/base.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    {% block link %}  {% endblock %}
</head>
<body class= "dark:bg-gray-900">
    <!-- Navbar -->
    <header>
        {% include "navbar/navbar.html" %}
    </header>

    <!-- Content Area -->
    <div class="content" style="margin-top: 155px;">
        {% block content %}
        <!-- Aquí va el contenido específico de cada página -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy;{% include 'footer/footer.html' %}</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{% static 'js/claro_oscuro.js' %}"></script>
</body>
</html>
