{% extends 'base.html' %}
{% load static %}

{% block title %}Políticas de privacidad{% endblock %}

{% block link  %} <link type='text/css' href='{% static "css/terminosypoliticas.css" %}' rel='stylesheet'/> {% endblock %}

{% block content %}
<div class="contpyt">
    <h1 class="h1pyt">Políticas de Protección de Datos Personales</h1>
    <p class="ppyt">
        Los datos personales (tal y como se detallan a continuación) que usted facilite al acceder, registrarse o suscribirse en TECNOTICIAS serán tratados para las finalidades que se detallan en esta política. TECNOTICIAS es el responsable del tratamiento de los datos de los usuarios y de los visitantes de sus plataformas.
    </p>

    <h2 class="h2pyt">1 - Datos Personales</h2>
    <p class="ppyt">
        Son datos personales aquellos que el usuario facilite al acceder, registrarse o al suscribirse a la publicación de que se trate, así como aquellos que se generen durante su navegación por TECNOTICIAS y por el uso de sus productos / servicios / contenidos / suscripciones.
    </p>

    <h2 class="h2pyt">2 - Finalidad y Legitimación del Tratamiento de Datos Personales</h2>
    <p class="ppyt">
        A continuación, se indican las finalidades para las que TECNOTICIAS tratará sus datos personales, así como la base jurídica que legitima el tratamiento para cada una de las referidas finalidades.
    </p>
    <ul class="ulpyt">
        <li>Gestión y control del registro del usuario en TECNOTICIAS.</li>
        <li>Realización de acciones comerciales personalizadas.</li>
        <li>Envío de comunicaciones comerciales o newsletters.</li>
        <li>Análisis de las necesidades, gustos y preferencias del usuario.</li>
    </ul>

    <h2 class="h2pyt">3 - Destinatarios de los Datos Personales</h2>
    <p class="ppyt">
        En algunos casos, es necesario comunicar la información proporcionada a empresas que prestan servicios relacionados con tecnologías de la información o agencias de marketing.
    </p>

    <h2 class="h2pyt">4 - Conservación de los Datos Personales</h2>
    <p class="ppyt">
        Sus datos se conservarán mientras exista un interés mutuo en mantener el registro o mientras usted no ejerza su derecho de supresión, oposición o limitación del tratamiento.
    </p>

    <h2 class="h2pyt">5 - Derechos de los Interesados</h2>
    <p class="ppyt">
        La normativa confiere ciertos derechos sobre su información personal, como el acceso, actualización, rectificación, cese en el envío de publicidades, supresión, entre otros.
    </p>

    <h2 class="h2pyt">6 - Solicitud de Eliminación de Datos Personales</h2>
    <p class="ppyt">
        El usuario puede solicitar la eliminación de sus datos personales en cualquier momento mediante correo electrónico a la dirección datospersonales@tecnoticias.com.
    </p>

    <h2 class="h2pyt">7 - Menores</h2>
    <p class="ppyt">
        Los servicios de TECNOTICIAS no están dirigidos a menores de 16 años. Si se detecta el registro de un menor, se procederá a cancelar el registro.
    </p>

    <h2 class="h2pyt">Anexos</h2>
    <p class="ppyt">
        Estos anexos serán aplicables de acuerdo con el país de residencia del usuario.
    </p>
</div>

{% endblock %}
