{% extends "base.html" %}

{% block title %}
    {{ articulo.titulo }} - Tecnoticias
{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow-md p-4 max-w-4xl mx-auto dark:bg-gray-900">
    <div class="flex justify-between items-center mb-4 ">
        <h1 class="text-3xl font-bold underline text-black">{{ articulo.titulo }}</h1>
        <a href="{% url 'home' %}" class="text-2xl text-gray-500 hover:text-blue-700">✖</a>
    </div>
    <p class="mb-6">Por <strong class="text-blue-500">{{ articulo.autor }}</strong> en <strong class="text-blue-500">{{ articulo.categoria }}</strong> | {{ articulo.fecha_publicada }}</p>

    {% if articulo.imagen_portada %}
    <div class="overflow-hidden rounded-lg mb-6 w-3/4 mx-auto">
        <img class="w-full h-auto" src="{{ articulo.imagen_portada.url }}" alt="Imagen de post">
    </div>
    {% endif %}

    <div class="text-gray-700 text-base mb-6">{{ articulo.contenido|linebreaks }}</div>

    <!-- Opciones del artículo -->
    {% if user.is_authenticated and user == articulo.autor or es_colaborador_o_admin %}
    <div class="flex mb-4">
        <a href="{% url 'editar_articulo' articulo.slug %}" class="text-blue-500 hover:text-blue-700">Editar</a>
        <span class="mx-2">|</span>
        <form method="POST" action="{% url 'eliminar_articulo' articulo.slug %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="text-red-500 hover:text-red-700" onclick="return confirm('¿Estás seguro de que deseas eliminar este artículo?');">Eliminar</button>
        </form>
    </div>
    {% endif %}

    <!-- Sección de comentarios -->
    <div class="bg-white rounded-lg shadow-md p-4 max-w-4xl mx-auto dark:bg-gray-900">
        <h2 class="text-lg font-bold mb-4 text-blue-500">Comentarios</h2>
        {% if comentarios %}
        <ul>
            {% for comentario in comentarios %}
            <li class="bg-gray-100 p-4 mb-2 rounded">
                <strong class="text-blue-500">{{ comentario.autor }}</strong> dijo: 
                <p class="text-gray-700">{{ comentario.contenido }}</p>
                
                <!-- Opciones de edición/eliminación de comentario -->
                {% if comentario.autor == user or es_colaborador_o_admin %}
                <a href="{% url 'detalle_articulo' articulo.slug %}?editar={{ comentario.id }}" class="text-blue-500 hover:text-gray-900">Editar</a>
                <span class="mx-2">|</span>
                <form method="POST" action="{% url 'eliminar_comentario' comentario.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="text-red-500 hover:text-red-700" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?');">Eliminar</button>
                </form>
                {% endif %}

                <!-- Formulario para editar el comentario actual si está en edición -->
                {% if comentario.id == comentario_en_edicion.id %}
                <div class="mt-2">
                    <h2 class="text-lg font-bold mb-2 text-blue-500">Editar comentario:</h2>
                    <form method="POST" action="{% url 'detalle_articulo' articulo.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="comentario_id" value="{{ comentario_en_edicion.id }}">
                        {{ form.as_p }}  <!-- Este es el formulario que contiene solo el comentario en edición -->
                        <button type="submit" name="editar_comentario" class="text-blue-500 hover:text-gray-900 btn btn-primary">Guardar cambios</button>

                    </form>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay comentarios aún.</p>
        {% endif %}
    </div>

    <!-- Formulario para añadir un comentario -->
    <div class="agregar-comentario mt-6">
        {% if user.is_authenticated %}
        <h2 class="text-lg font-bold mb-4 text-blue-500">Deja un comentario:</h2>
        <form method="POST" action="{% url 'comentar_articulo' articulo.slug %}">
            {% csrf_token %}
            <textarea name="contenido" rows="4" class="w-full p-2 border border-gray-300 rounded" placeholder="Escribe tu comentario aquí..."></textarea>
            <button type="submit" class="mt-2 px-4 py-2 bg-indigo-500 text-white rounded">Enviar comentario</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}" class="text-blue-500">Inicia sesión</a> para dejar un comentario.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
